@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bruno Ace SC', cursive;
    background-color: rgb(26, 25, 25);
    color: white;
}
#win{
    width: 450px;
    height: 300px;
    border: 1px solid white;
    background: linear-gradient(to right, #333d29, #386641, #6a994e, #656d4a);
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
#won{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
.btns{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btns input{
    min-width: 100px;
    width: fit-content;
    padding: 5px;
    font-size: 1.1em;
    background-color: #023047;
    color: white;
    border-radius: 4px;
}
.instr{
    width: 100%;
    background: linear-gradient(to right, #001219, #003844, #005f73);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.1em;
    padding-bottom: 20px;
    padding-top: 10px;
}
.ins{
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cover{
    width: fit-content;
    margin: auto;
    border: 1px solid gray;
    display: flex;
    padding: 2px;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    display: flex;
    margin: 3px;
    border-radius: 8px;
    background-color: darkgray;
    color: black;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset{
    margin: auto;
    padding: 5px;
    min-width: 150px;
    width: 15%;
    height: 35px;
    background: linear-gradient(to right, #001219, #003844, #005f73, #001219);
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
#reset:hover{
    transition: 100ms;
    border: 2px solid gray;
}

@media all and (0 < width < 500px){
    #win{
        width: 98%;
        height: 60%;
    }
    .cover{
        margin-top: 50px;
    }
}